<!DOCTYPE html>

<html>

<head>

<title>Sizmek | Instream Player</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<link rel="stylesheet" type="text/css" href="../styles/instream-base-interface.css">
<script type="text/javascript" src="../lib/swfobject/swfobject.min.js"></script>
<script type="text/javascript" src="../lib/google/xml2json.min.js"></script>
<script type="text/javascript" src="../lib/sizmek/debug/instream-base-interface.js"></script>

</head>

<body>

<div id="player-container"></div>

</body>

</html>
